$background-darker: #1d1d1d;
$background-dark: #272727;
$background-medium-dark: #424242;
$background-medium-dark-pointer: #4A4A4A;
$background-medium: #525252;
$background-light: #757575;
$background-lightest: #9d9d9d;
$primary-color-dark:   $background-dark;
$primary-color:        $background-medium;
$primary-color-light:  $background-light;
$primary-color-text:   #f0f0f0;
$accent-color:         #999999;
$primary-text-color:   $primary-color-text;
$secondary-text-color: #dddddd;
$divider-color:        $accent-color;
$error-color: #c21700
