@import 'styles/shared';

.buttons {
  display: flex;
  flex-direction: row;
  background-color: $background-medium-dark;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2), 
    0px 4px 5px 0px rgba(0,0,0,0.14), 
    0px 1px 10px 0px rgba(0,0,0,0.12);;
  border-radius: 0px 10px 0px 0px;
  left: 0;
}

.buttons > div {
  margin: 10px;
}

.control-bar {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.selected-div {
  margin-left: auto;
  background-color: $background-medium-dark;
  box-shadow: -2px 2px 4px 2px rgba(0,0,0,0.2), 
    0px 4px 5px 0px rgba(0,0,0,0.14), 
    0px 1px 10px 0px rgba(0,0,0,0.12);;
  border-radius: 10px 0px 0px 0px;
  left: 0;
}

.selected-div > p {
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
}

.MuiTypography-root {
  font-weight: 700 !important;
}

